.titleList {
    display: flex;
    justify-content: center;

    font-size: 4rem;
    
    margin-top: 2rem;
}

.search {
    display: flex;
    justify-content: center;

    padding: 2rem;
}

#search {
    border: none;
    width: 30%;
    
    padding: 2rem;
    border-radius: .5rem 0 0 .5rem;


    outline: none;
    color: white;
    background-color: #424141;
}

.search button {
    border-radius: .5rem;
    margin-left: -0.5rem;

    padding: 2rem;

    border: none;
    font-size: 2rem;
    font-weight: 700;

    color: rgb(59, 59, 59);
    background: #2cff72;
}

.search button:hover {
    background: #00ff55;
    transition: 2ms;
    cursor: pointer;
}

.filled {
    border: solid .2rem #2cff72;
}

@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
    
}

@media (max-width: 768px) {
    html {
        font-size: 40%;
    }

    #search {
        width: 50%;
    }
    
}

@media (max-width: 425px) {
    #search {
        width: 65%;
    }
}