.rowArea {
    display: flex;
    overflow: hidden;

    height: 55vh;
    
}

.postMovie {
    transform: scale(.8);
    height: 35vh;
} 

.postMovie:hover {
    transition: ease 3ms;
    transform: scale(.9);
    z-index: 10;
}

.movieImage {
    height: 100%;
}

.movieImage img{
    border: solid #ff6a00;
    border-radius: 2rem;

    height: inherit;
} 

.movieImage > span, p {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: .5rem;
    font-size: 2rem;
    font-weight: 500;

    color: floralwhite;
}

.movieImage p {
    margin-top: 1rem;
}
/* 
.arrowRight,
.arrowLeft {
    display: flex;
    align-items: center;
    position: absolute;
    width: 3vw;
    height: 35vh;    
    z-index: 10;
}

.arrowRight,
.arrowLeft:hover {
    z-index: 10;
}

.arrowLeft {
    display: grid;
    justify-content: flex-end;
    width: 3.5vw;
}

.arrowRight {
    display: flex;
    justify-content: flex-end;
    width: 65.5vw;
}

.arrowLeft svg {
    font-size: 10rem;
    background: linear-gradient(to left, #678 2%, transparent 82%);
    border-radius: 0 5rem 5rem 0;
}

.arrowRight svg {
    font-size: 10rem;
    background: linear-gradient(to right, #678 2%, transparent 82%);
    border-radius: 5rem 0 0 5rem;
} */

