.rowArea {
    display: flex;
    overflow-x: scroll;

    height: 40vh;
    
}

.rowArea::-webkit-scrollbar {
    width: 0;
    height: 1rem;
  }

.rowArea::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #ff8732;
  }


.postMovie {
    transform: scale(.8);
    height: 33vh;
} 

.postMovie:hover {
    transition: ease 3ms;
    transform: scale(.9);
    z-index: 10;
    cursor: pointer;
}

.movieImage {
    height: 100%;
}

.movieImage > img{
    border: solid #ff6a00;
    border-radius: 2rem;

    height: inherit;
} 

.movieImage > span {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: .5rem;
    font-size: 2rem;
    font-weight: 500;

    color: floralwhite;
}

.listRow {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    transition: all ease 3ms;
}
 
.backRight,
.backLeft {
    display: flex;
    align-items: center;
    width: 11vw;
    height: 35vh;    
}

.backLeft {
    margin-right: -4rem;
    background: linear-gradient(to right, #141414 15%, transparent 100%);
    border-radius: .25rem 4rem 4rem .25rem;
    z-index: 11;
}

.backRight {
    margin-left: -4.5rem;
    background: linear-gradient(to left, #141414 15%, transparent 100%);
    border-radius: 4rem .25rem .25rem 4rem;
    z-index: 10;
}

@media (max-width: 1366px) {
    .rowArea {
        height: 32vw;
    }

    .postMovie {
        height: 50vh;
    }

    .backLeft,
    .backRight {
        width: 14vw;
        height: 54vh;
    }

    .backLeft {
        margin-left: 0rem;
    }

    .backRight {
        margin-left: -5rem;
    }
}

@media (max-width: 1024px) {
    .rowArea {
        height: 38vh;
    }

    .backLeft,
    .backRight {
        width: 16vw;
        height: 36vh;
    }

    .backLeft {
        margin-left: 2rem;
    }    

    .postMovie {
        height: 34vh;
    }
}

@media (max-width: 768px) {
    .rowArea {
        height: 34vh;
    }

    .postMovie {
        height: 30vh;
    }
    
    .backLeft,
    .backRight {
        width: 26vw;
        height: 32vh;
    }
}

@media (max-width: 425px) {
    .rowArea {
        height: 36vh;
    }

    .rowArea::-webkit-scrollbar {
        width: 0;
        height: 3rem;
    }

    .backLeft,
    .backRight {
        width: 55vw;
    }
}