.rowlist {
    display: flex;
    overflow-x: hidden;
}

.postMovie {
    transform: scale(.8);
}

.postMovie:hover {
    transition: all ease 2ms;
    transform: scale(.9);
    z-index: 10;
}

.movieImage img{
    height: 50vh;
    border-radius: 3rem;

}

