header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;
    
    padding: 1rem;

    background: #ff8732;

}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    width: 4vw;
}

header  span {
    font-size: 3rem;
    font-weight: 700;
    
    color: #fff;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 16vw;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    
    width: 7rem;
    height: 8rem;

    margin: 0 1rem;

}

header li:hover {
    border-bottom: solid;
    cursor: pointer;
}

.dropButton{
    display: block;
    margin-top: -2rem;
    
    padding: 1rem;
    width: 9vw;
    
    position: relative;
    
    color: white;

    background: none;
    border: none;
    
    font-size: 2rem;
    font-weight: 500;
}

.dropdown {
    display: flex;
    flex-direction: column;
    height: 0;
}

.dropdownContent {
    display: none;

    text-align: center;
    
    background: #ff8732;
    
    border-top: solid 1px;
    border-radius: .25rem;
    
    padding: .5rem;
    z-index: 10;
}

.dropdownContent:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.dropdown:hover .dropdownContent {
    display: block;
}