header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;
    
    padding: 1rem;

    background: #ff8732;
}

header img {
    width: inherit;
    height: inherit;
}