header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;
    
    padding: 1rem;

    background: #ff8732;

}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    width: 4vw;
}

header  span {
    font-size: 3rem;
    font-weight: 700;
    
    color: #fff;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    
    width: 10rem;

    margin: 0 2rem;
    padding: 3rem;
}

header li:hover {
    border-bottom: solid;

    cursor: pointer;
}

.dropButton{
    /* display: block; */
    margin-top: -2rem;
    
    padding: 1rem;
    
    color: white;

    background: none;
    border: none;
    
    font-size: 2rem;
    height: 5rem;
}

.dropButton > svg {
    font-size: 5rem;
    margin-top: -2rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
    height: 0;
}

.dropdownContent {
    display: none;

    text-align: center;
    
    background: #ff8732;
    
    border-bottom: solid 1px;
    border-radius: .25rem;
    
    padding: .5rem;
    z-index: 10;
}

.dropdownContent:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 15;
    border: solid 1px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

@media (max-width: 768px) {
    header {
        height: 10vh;
    }
}

@media (max-width: 648px) {
    header {
        justify-content: space-between;
    }

    .logo {
        flex-direction: column;
        margin-left: 2rem;
    }

    .logo > img {
        width: 6vw;
    }

    .logo > span {
        width: 10vw;
    }

     nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menuToggle {
        width: 40px;
        height: 66px;
        margin-right: 12px;
    }

    /* fullscreen */

    .containerToggle.active {
        position: absolute;
        top: 0;
        left: 0;

        background-color: #ff8732;

        width: 100%;
        height: 100vh;

        z-index: 12;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .containerToggle.active > nav {
        display: block;
    }


    .containerToggle.active .menuToggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .containerToggle.active .menuToggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .containerToggle.active .menuToggle .two {
        opacity: 0;
    }

    .containerToggle.active .menuToggle .three {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .containerToggle.active > nav > ul {
        display: block;
        justify-content: center;
    }

    .containerToggle.active nav ul a {
        transition-duration: 5ms;
        font-size: 5rem;
        line-height: 12rem;
        display: block;
    }

    .containerToggle.active .dropdown {
        height: 8rem;
    }

    .containerToggle.active .dropButton {
        margin-top: 0;
        font-size: 4.7rem;
    }
 
}