.listSearch {
    width: 100%;
    max-width: 980px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    
    align-items: flex-end;

    text-decoration: none;
}

.listFind {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    text-align: center;
    
    margin-bottom: 3rem;

    width: 100%;
    height: 100%;
}

.infoList {
    /* text-overflow: ellipsis;
    white-space: nowrap; */

    width: 100%;
}

.image {
    /* width: 100%; */

    border: solid;

    /* position: relative; */

    transform: scale(.9);

    display: flex;
    
}

.image:hover {
    transform: scale(1);
    cursor: pointer;
}

.titleListSearch {
    font-size: 1.5rem;
    font-weight: 500;

    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    /* .listFind {
        width: 80%;
        height: 80%;
    } */

    .image > img {
        width: 100%;
    }

    .titleListSearch {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    
}