main p {
    display: flex;
    justify-content: flex-start;
    font-size: 5rem;
    margin-top: 5rem;
    color: #ababab;
}

.listSearch {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.listFind {
    display: inherit;
    height: 50vh;
    width: 24vw;
    justify-content: center;
    text-align: center;
    padding: 4rem;
}

.infoList {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.infoList img {
    height: 100%;
    object-fit: cover;
    border: solid;
}

.infoList span {
    height: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.loading img {
    width: 4vw;
}
