.backgound {
    width: 100%;

    background: linear-gradient(to top, #141414 2%, transparent 20%)
}

.backgroundRight {
    background: linear-gradient(to right, #141414 20%, transparent 30%);
}
.backgroundLeft {
    background: linear-gradient(to left, #141414, transparent 6%);
    display: flex;
    align-items: center;
}

.containerBack{
    display: flex;
    align-items: center;
}

.containerBack> span {
    font-size: 8rem;
    display: flex;
    position: absolute;
    font-weight: 700;
    width: 30%;
    text-shadow: 7px 5px 4px black;
    color: #e2e2e2;
}

.slideInfo {
    display: flex;
    justify-content: flex-end;
}

.slideInfo > img {
    width: 80%;
    z-index: -10;
}

@media (max-width: 1024px) {
    .containerBack > span {
        font-size: 6rem;
    }
}

@media (max-width: 768px) {
    .containerBack > span {
        font-size: 5rem;
    }
}

@media (max-width: 540px) {
    .containerBack > span {
        font-size: 5rem;
    }
}

@media (max-width: 425px) {
    .containerBack > span {
        font-size: 3rem;
    }   
}