* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main {
    width: min(90vw, 1200px);
    margin: auto;
}

body {
    background: #141414;
    color: #fff;
    height: 100vh;
}