* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

body {
    background: #141414;
    color: #fff;
    width: 100vw;
    height: 100vh;
}